@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@100&display=swap'); 

.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #231F20;
  width: 100vw;
  height: 300px;
  margin-top: 20px;
}

.project-btn {
  color: #FAF4F0;
  background-color: #231F20;
  font-family: "Italiana";
  border: none;
  font-size: 50px;
  font-weight: 100; 
}

.project-btn:hover {
  font-style: italic;
}

@media only screen and (min-width:601px) and (max-width:2400px) {

  .project-card-container {
    width: 100vw;
    height: 500px;
    margin-top: 0;
  }

  .project-btn {
    font-size: 100px;
  }

}