 @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@100&display=swap'); 

 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
 }

 .nav-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
 }
 
 .nav-btn {
  font-family: "Montserrat";
  font-size: 15px;
  border: none;
  background-color: #FAF4F0;
 }

 .nav-btn:hover {
  text-decoration: line-through;
 }

 .nav-line {
  width: 50px;
  height: 2px;
  margin: 0;
  background-color: black;
 }

 .nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
 }
 
 .copy-icon {
  font-size: 10px;
  font-family: "Montserrat";
 }

@media only screen and (min-width:601px) and (max-width:2400px) {

  .nav-btn {
    font-size: 20px;
  }

  .nav-line {
    width: 150px;
    height: 1px;
    margin: 1px 10px 0 40px;
  }

  .copy-icon {
    font-size: 15px;
  }

}