 @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@100&display=swap'); 

 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
 }

 .nav-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
 }
 
 .nav-btn {
  font-family: "Montserrat";
  font-size: 15px;
  border: none;
  background-color: white;
 }

 .nav-line {
  width: 50px;
  height: 2px;
  margin: 0;
  background-color: black;
 }

 .nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
 }
 
 .header-copyright {
  font-family: "Montserrat";
 }